:root {
  --background: #fefaf7;;
  --cardBorder: #A67B5B;
  --menu: #ffffff;
  --contrast: #b1a8a1cd;
  --button: #A67B5B;
  --fontColor: #000000;
  --title: #5C4A3E;
  --subtitle: #A67B5B;
}

body {
  background-color: var(--background);
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  min-height: 100%;
  position: relative;
  
}

.noto-sans-font {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 90.8;
  color: var(--fontColor);
}

header{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.header-contact{
  position: relative;
}

.content-menu {
  background-color: var(--menu);
  width: 400px;
  list-style-type: none;
  height: 5rem;
  border-radius: 50px;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 3rem;
  padding-right: 3rem;
  display: flex;
  left: 0;
  right: 0;
  
}

a:-webkit-any-link {
  color: var(--fontColor);
  cursor: pointer;
  text-decoration: none;
}

.container-footer {
  position: relative;
  bottom: 0;
  height: 10rem;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem 0 0 0;
  margin: 0 3rem 0 3rem;
  background-color: var(--background);
  color: var(--fontColor);
  box-shadow: 0 -1px #d8d8d8;
  .link-footer {
    display: flex;
    gap: 2rem;
    margin-bottom: 1.5rem;
  }
}

.img-homepage {
  background-color: purple;
  margin: auto;
  height: 100vh;
}

.text-container {
  padding-top: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1,
  p {
    display: flex;
    justify-content: center;
  }

}

.work-container {
  display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;

}

.work-component {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 3rem;
  h3,
  p {
    display: flex;
    justify-content: center;

  }
}

.project-page{
 display: flex;
 align-items: flex-end;
 min-height: 100vh;
 
 
 .slider-item-desc h6{
  
    color: var(--fontColor);
    padding: 0 0.8rem 1rem 0.8rem;
    font-size: 12px;
 }
 
}

.slider-img-box{
  display: flex;
  width: 320px;
  height: 460px;
  overflow: hidden;
  flex-shrink: 0;

  .slider-img{
    transition: all 1s ease;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
  }

  .slider-img:hover {
    transform: scale(1.05); /* Aumenta a imagem em 5% */
}
}


.slider-container {
  width: 100%;
  overflow: hidden;
  margin: 0;
  vertical-align: bottom;
  

  .slider {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      overflow: visible;
      will-change: transform;
      transition: transform 0.1s linear;
      gap: 0;
      flex-shrink: 0;
  }
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  max-width: 80rem;
  margin: auto;
  margin-bottom: 10rem;
  margin-top: 4rem;
  
  
  .contact-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    > a {
      color: var(--fontColor);
      margin-right: auto;
    }
  }

  .contact-form-box {
      min-width: 20rem;
      display: contents;
     }

  .contact-form {
    display: flex;
    flex-direction: column;
    align-items: self-end;
    margin-top: 3rem;
    width: 50%;
    grid-row-gap: 60px;

    input,
    textarea {
      background-color: var(--background);
      padding: 8px 0;
      width: 90%;
      border: 0;
      border-bottom: 1px solid #aaa;
      font-size: 20px;
      font-weight: 300;
      color: var(--cardBorder);
      letter-spacing: 0.11em;
      border-bottom: 1px solid #a1a5a9;
      line-height: 36px;
      

      &::placeholder {
        color: var(--contrast);
        font-size: 20px;
      }

      &:focus {
        outline: 0;
        border-bottom: 1px solid var(--contrast);
        transition: 0.6s all ease;
      }
    }
    > button {
          width: 120px;
    height: 48px;
    color: #000;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #000;
    border-radius: 30px;
    margin-top: 13px;
    font-size: 13px;
    font-weight: 700;
    line-height: 16px;
    }
  }
}

.contact-page header{
  display: flex;
  justify-content: center;
  flex-direction: row;
}
